// end general
.droplet {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
  span {
    position: absolute;
    z-index: 2;
    top: 32%;
    left: 48.5%;
    font-weight: bolder;
    font-size: 1.5em;
    color: var(--color-orange);
  }
  img {
    width: 60px;
    transform: rotate(90deg);
  }
}

.page-1 {
  .header {
    height: var(--header-title-h);
    border-bottom: var(--border-violet);
  }
  .header__left {
    height: 100%;
    display: flex;
    align-items: center;
    float: left;
    width: calc(100% - var(--header-title-h));
    font-size: 2em;
    font-weight: bolder;
    img {
      margin-left: 3px;
      margin-right: 17px;
    }
  }
  .header__right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px;
    float: left;
    width: var(--header-title-h);
    border-left: var(--border-violet);
    height: var(--header-title-h);
    position: relative;
    span {
      font-weight: bolder;
      position: absolute;
    }
  }
  .content {
    font-size: var(--font-medium);
    border-bottom: var(--border-violet);
    margin: 0;
  }
  .apricots {
    width: 100%;
  }
}

.page-2 {
  p:first-child {
    margin-top: 0;
  }
  .content {
    font-size: var(--font-medium-sm);
  }
  .footer {
    font-size: 0.7em;
  }
}

.page-3 {
  .page-3__header {
    font-size: 2em;
    border-bottom: var(--border-violet);
    padding: 10px 15px;
    position: relative;

    .page_3__pdf-container {
      @media (max-width: 768px) {
        font-size: 0.5em;
        width: 50px;
        height: 50px;
        position: absolute;
        right: 10px;
        bottom: 0px;
        transform: translateY(50%);
      }
      text-decoration: none;
      color: var(--color-violet);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        position: absolute;
        height: 100%;
      }
      span {
        font-family: fontello;
        z-index: 2;
      }
      .dl-anchor:before {
        content: "\f02e";
      }
    }
  }
}

.page-4 {
  .page-4__header {
    font-size: 2em;
    border-bottom: var(--border-brown);
    padding: 10px 15px;
  }
  .surprise {
    width: 100%;
  }
}

.page-5 {
  .page-5__header {
    font-size: 2em;
    border-bottom: var(--border-violet);
    padding: 10px 15px;
  }
  .family {
    width: 100%;
  }
}

.page-6 {
  .page-6__header {
    font-size: 2em;
    border-bottom: var(--border-brown);
    padding: 10px 15px;
  }
  .page-6__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    .dr-links {
      display: flex;
      flex-direction: column;
    }
    a {
      font-size: 1.3em;
      padding: 10px;
      border: 2px solid var(--color-brown);
      text-align: center;
      margin: 20px 0px;
    }
  }
  .office {
    width: 60%;
  }
}

.page-7 {
  .page-7__header {
    font-size: 2em;
    border-bottom: var(--border-violet);
    padding: 10px 15px;
  }
  .icon {
    font-family: fontello;
  }
  .icon-insta:before {
    content: "\f16d";
  }
  .icon-fb:before {
    content: "\f09a";
  }
  .social-margin {
    margin: 10px 0px;
  }
  .support {
    font-weight: bolder;
  }
}
