<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doktorzy</title>
    <link rel="stylesheet" href="css/shared.css">
</head>
<body class="dr__body">
    <div class="header page-header">
        <div class="header__left with-padding">
        </div>
        <div class="header__right">
        </div>
    </div>
    <div id="drs"></div>
</body>
<script>
</script>
</html>