@media (min-width: 768px) {
  * {
    border-width: 2px !important;
  }

  .desktop-hidden {
    display: none;
  }

  .cursor {
    margin: 50px 80px;
    width: 100px;
  }

  .page-header {
    font-family: "Monarcha-Bold";
    height: var(--header-title-d-h) !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .page-header .box {
    width: calc(var(--header-title-d-h) + 4px);
    height: var(--header-title-d-h);
    border-left: var(--border-brown);
  }

  .page-1 {
    font-size: 1.5em;
  }
  .page-1 .header__left {
    width: calc(100% - var(--header-title-d-h));
  }
  .page-1 .header__left img {
    height: 75px;
  }
  .page-1 .header__right {
    width: var(--header-title-d-h);
    height: var(--header-title-d-h);
  }
  .page-1 .content {
    width: calc(100% - 40% - var(--header-title-d-h) + 2px);
    height: calc(100% - var(--header-title-d-h));
    float: left;
    border: none;
  }
}
@media (min-width: 768px) and (max-width: 1050px) {
  .page-1 .content {
    font-size: 1em;
  }
}
@media (min-width: 768px) and (max-width: 900px) {
  .page-1 .content {
    font-size: 0.75em;
  }
}
@media (min-width: 768px) {
  .page-1 .apricots {
    width: 40%;
    border-right: var(--border-violet);
  }
}
@media (min-width: 768px) {
  .page-2 {
    font-size: var(--font-small-d);
    overflow: hidden;
    display: flex;
    height: 100%;
  }
  .page-2 .kobieta {
    display: initial;
    width: 50%;
    max-height: 1000px;
  }
}
@media (min-width: 768px) {
  .page-3 .page-3__header {
    font-size: 2.5em;
    padding-right: 5px;
  }
  .page-3 .page-3__header .header__left {
    width: calc(100% - var(--header-title-d-h));
  }
  .page-3 .page-3__header a {
    border-left: var(--border-violet);
    font-size: 0.65em;
    width: var(--header-title-d-h);
    height: var(--header-title-d-h);
  }
  .page-3 .page-3__header a img {
    padding: 9px;
  }
  .page-3 .page-3__content {
    font-size: var(--font-small-d);
    width: calc(100% - var(--header-title-d-h) - 3px);
    border-right: var(--border-violet);
  }
  .page-3 .page-3__content .anatomy-section {
    display: flex;
    align-items: center;
  }
  .page-3 .page-3__content .anatomy-section .anatomy-section-ps {
    width: 70%;
  }
  .page-3 .page-3__content .anatomy-section .anatomy {
    display: initial;
    width: 400px;
    padding: 100px;
  }
  .page-3 .page-3__content .marrow-section {
    padding: 0px 130px;
    display: flex;
    align-items: center;
  }
  .page-3 .page-3__content .marrow-section .marrow {
    display: initial;
    height: 500px;
    padding: 0px;
  }
}
@media (min-width: 768px) and (max-width: 850px) {
  .page-3 .page-3__content .marrow-section .marrow {
    padding-left: 50px;
  }
}
@media (min-width: 768px) and (min-width: 851px) {
  .page-3 .page-3__content .marrow-section .marrow {
    padding-left: 100px;
  }
}
@media (min-width: 768px) {
  .page-3 .page-3__content .droplets-section {
    display: flex;
    align-items: center;
  }
  .page-3 .page-3__content .droplets-section .droplets-section__left {
    width: calc(70%);
  }
  .page-3 .page-3__content .droplets-section .droplets-section__left > div {
    display: flex;
  }
  .page-3 .page-3__content .droplets-section .droplets-section__left .droplet {
    padding-left: 0px;
  }
  .page-3 .page-3__content .droplets-section .droplet span {
    left: 28.5%;
  }
  .page-3 .page-3__content .droplets-section .droplets-section__left div:nth-child(2) .droplet span {
    top: 37%;
  }
  .page-3 .page-3__content .droplets-section .droplets-section__left div:last-child .droplet span {
    top: 27%;
  }
}
@media (min-width: 768px) {
  .page-3 .page-3__content .dildo {
    display: initial;
    width: 30%;
    padding: 10%;
  }
}
@media (min-width: 768px) {
  .page-4 {
    font-size: var(--font-small-d);
  }
  .page-4 .page-4__header {
    padding-right: 0;
  }
  .page-4 .page-4__content {
    margin-right: calc(var(--header-title-d-h) + 2px);
    border-right: var(--border-brown);
  }
  .page-4 .surprise-section,
.page-4 .beads-section,
.page-4 .cursor-section {
    display: flex;
    align-items: center;
  }
  .page-4 .surprise-section img,
.page-4 .beads-section img,
.page-4 .cursor-section img {
    display: initial;
  }
  .page-4 .surprise-section .d-surprise,
.page-4 .beads-section .d-surprise,
.page-4 .cursor-section .d-surprise {
    margin: 50px;
  }
}
@media (min-width: 768px) and (min-width: 951px) {
  .page-4 .surprise-section .d-surprise,
.page-4 .beads-section .d-surprise,
.page-4 .cursor-section .d-surprise {
    height: 300px;
  }
}
@media (min-width: 768px) and (max-width: 950px) {
  .page-4 .surprise-section .d-surprise,
.page-4 .beads-section .d-surprise,
.page-4 .cursor-section .d-surprise {
    height: 200px;
  }
}
@media (min-width: 768px) {
  .page-4 .beads-section {
    align-items: initial;
  }
  .page-4 .beads-section .beads {
    height: 774px;
  }
}
@media (min-width: 768px) {
  .page-4 .beads-section__left {
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
@media (min-width: 768px) {
  .page-4 .beads-section__left p:first-child {
    padding-right: 25%;
  }
}
@media (min-width: 768px) {
  .page-4 .beads-section__left p:last-child {
    padding-left: 25%;
  }
}
@media (min-width: 768px) {
  .page-5 {
    font-size: var(--font-small-d);
  }
  .page-5 .box {
    border-left: var(--border-violet);
  }
  .page-5 .page-5__header {
    padding-right: 0;
  }
  .page-5 img.family-d,
.page-5 img.cursor {
    display: initial;
  }
  .page-5 img.family-d {
    width: 400px;
    height: 564px;
  }
  .page-5 .page-5__content {
    margin-right: calc(var(--header-title-d-h) + 2px);
    border-right: var(--border-violet);
  }
  .page-5 .family-section {
    display: flex;
    align-items: center;
  }
  .page-5 .droplets-section {
    display: flex;
    padding-bottom: 50px;
  }
}
@media (min-width: 768px) {
  .page-6 {
    font-size: var(--font-small-d);
  }
  .page-6 .page-6__header {
    padding-right: 0;
  }
  .page-6 .page-6__left {
    border-right: var(--border-brown);
    width: calc(100% - var(--header-title-d-h) - 2px);
  }
  .page-6 .page-6__title {
    margin-top: 0;
  }
  .page-6 .page-6__body {
    display: flex;
    justify-content: space-between;
  }
  .page-6 .page-6__body .page-6__links {
    display: flex;
    flex-direction: row-reverse;
    width: 80%;
    align-items: initial;
  }
  .page-6 .page-6__body .dr-links {
    padding: 0% 5%;
    display: block !important;
  }
  .page-6 .page-6__body .dr-links a {
    display: inline-block;
    margin-top: 0px;
  }
  .page-6 .page-6__body .beads {
    display: initial;
  }
  .page-6 .page-6__body .office {
    height: 600px;
    width: auto;
  }
}
@media (min-width: 768px) and (max-width: 960px) {
  .page-6 .page-6__body .office {
    display: none;
  }
}
@media (min-width: 768px) {
  .page-7 {
    font-size: var(--font-small-d);
  }
  .page-7 .page-7__header {
    padding-right: 0;
  }
  .page-7 .page-7__header .box {
    border-left: var(--border-violet);
  }
  .page-7 .girl {
    display: initial;
    width: 60%;
  }
  .page-7 .page-7__content {
    display: flex;
    justify-content: space-between;
  }
  .page-7 .icon {
    font-size: 2em;
  }
}

/*# sourceMappingURL=desktop.css.map */
