include mixins.pug
doctype html
html 
    head 
    body 
        div(class="page-white")
            +header_top()
            p !{P1_T1}
            img(alt="some_image.png")
        div(class="page-brown")
            p= P2_T1


