mixin header_short()
    div(class='header-small')
        block

mixin header_top() 
    +header_short
        div(class='')
            img(src="public/pestka.png" alt="pestka")
            div(class="main-title") Bezpestkowe
        div(class="lang-toggle-cont")
            p ENG
